/* body > div,
body > div > div,
body > div > div > div.login-form {
  height: 90%;
} */

.tabpanel {
  margin-top: 50px;
}

/** Just for the modal*/
.prueba.ui.statistic > .value,
.prueba.ui.statistics .statistic > .value {
  font-size: 0.8rem !important;
}

.prueba.ui.statistics > .statistic {
  margin: 0;
}

.prueba.ui.statistics:first-child {
  margin-top: 3px;
  margin-bottom: 3px;
}
/** JFM end*/
