body {
  min-width: 370px !important;
}

.prueba.ui.statistic > .value,
.prueba.ui.statistics .statistic > .value {
  font-size: 0.8rem !important;
}

.prueba.ui.statistics > .statistic {
  margin: 0;
}

.prueba.ui.statistics:first-child {
  margin-top: 3px;
  margin-bottom: 3px;
}

.ui.statistic.lxa > .value ~ .label {
  font-weight: 300;
  color: rgba(0, 0, 0, 0.6);
}

.ui.mini.statistic.lxa > .value,
.ui.mini.statistics .statistic > .value {
  font-weight: 500;
  font-size: 1.3rem !important;
}

div.ui.info.message .header {
  color: #262636;
}

div.ui.huge.borderless.inverted.menu {
  border-radius: 0 !important;
}

a.item.backwardRoute,
a.item.forwardRoute {
  width: 20% !important;
}

a.item.dateFormat {
  width: 60% !important;
}

div.ui.info.message {
  position: relative;
  min-height: 1em;
  margin: 1em 0;
  background: #f8f8f9;
  padding: 1em 1.5em;
  line-height: 1.4285em;
  color: rgba(0, 0, 0, 0.87);
  -webkit-transition: opacity 0.1s ease, color 0.1s ease, background 0.1s ease, -webkit-box-shadow 0.1s ease;
  transition: opacity 0.1s ease, color 0.1s ease, background 0.1s ease, -webkit-box-shadow 0.1s ease;
  transition: opacity 0.1s ease, color 0.1s ease, background 0.1s ease, box-shadow 0.1s ease;
  transition: opacity 0.1s ease, color 0.1s ease, background 0.1s ease, box-shadow 0.1s ease,
    -webkit-box-shadow 0.1s ease;
  border-radius: 0.28571429rem;
  -webkit-box-shadow: 0 0 0 1px rgba(34, 36, 38, 0.22) inset, 0 0 0 0 transparent;
  box-shadow: 0 0 0 1px rgba(34, 36, 38, 0.22) inset, 0 0 0 0 transparent;
}

@media only screen and (max-width: 500px) {
  .ui.list .list > .item [class*='right floated'],
  .ui.list > .item [class*='right floated'] {
    width: 100%;
    float: left !important;
    margin: 0 0 0 2.35em !important;
    margin-left: 25px;
  }
}
