body {
  min-width: 400px !important;
}

.tabpanel {
  margin-top: 50px;
}

.prueba.ui.statistic > .value,
.prueba.ui.statistics .statistic > .value {
  font-size: 0.8rem !important;
}

.prueba.ui.statistics > .statistic {
  margin: 0;
}

.prueba.ui.statistics:first-child {
  margin-top: 3px;
  margin-bottom: 3px;
}

.editYF {
  width: 90px;
}

.ui.basic.label.createFood {
  border: 1px solid rgba(34, 36, 38, 0.15);
  color: rgba(0, 0, 0, 0.87);
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 5.25em;
  text-align: left;
}

.prueba2.ui.statistics .statistic > .value {
  font-size: 0.7rem !important;
}

.prueba2.ui.statistics > .statistic {
  margin-right: 10px;
  margin-left: 10px;
}

.prueba2.ui.statistics.prueba2 {
  margin: 0;
}

.label.macrosLabel {
  width: 5.1em;
  text-align: center;
}

.label.macrosLabelContent {
  width: 3.3em;
  text-align: center;
}

.label.weightLabel {
  width: 11.0em;
  text-align: center;
}

.ui.statistic.lxa > .value ~ .label {
  font-weight: 300;
  color: rgba(0, 0, 0, 0.6);
}

div.ui.info.message {
  font-size: 1em;
}

div.ui.info.message .header {
  color: #262636;
}

div.ui.info.message {
  position: relative;
  min-height: 1em;
  margin: 1em 0;
  background: #f8f8f9;
  padding: 1em 1.5em;
  line-height: 1.4285em;
  color: rgba(0, 0, 0, 0.87);
  -webkit-transition: opacity 0.1s ease, color 0.1s ease, background 0.1s ease, -webkit-box-shadow 0.1s ease;
  transition: opacity 0.1s ease, color 0.1s ease, background 0.1s ease, -webkit-box-shadow 0.1s ease;
  transition: opacity 0.1s ease, color 0.1s ease, background 0.1s ease, box-shadow 0.1s ease;
  transition: opacity 0.1s ease, color 0.1s ease, background 0.1s ease, box-shadow 0.1s ease,
    -webkit-box-shadow 0.1s ease;
  border-radius: 0.28571429rem;
  -webkit-box-shadow: 0 0 0 1px rgba(34, 36, 38, 0.22) inset, 0 0 0 0 transparent;
  box-shadow: 0 0 0 1px rgba(34, 36, 38, 0.22) inset, 0 0 0 0 transparent;
}

.mobContent div.description {
  margin-left: 2.05em;
  margin-top: 0.5em;
}

a.item.backwardRoute {
  justify-content: left !important;
}

a.item.forwardRoute {
  justify-content: right !important;
}

i.chevron.circle.left.big.link.icon {
 margin: 0 0 0 0.5em
}

i.chevron.circle.right.big.link.icon {
  margin: 0 0.67em 0 0
}
