body {
  min-width: 550px !important;
}
.tabpanel {
  margin-top: 50px;
}

/** Modal*/
.prueba.ui.statistic > .value,
.prueba.ui.statistics .statistic > .value {
  font-size: 0.8rem !important;
}

.prueba.ui.statistics > .statistic {
  margin: 0;
}

.prueba.ui.statistics:first-child {
  margin-top: 3px;
  margin-bottom: 3px;
}

.editYF {
  width: 90px;
}
/** */
.ui.basic.label.createFood {
  border: 1px solid rgba(34, 36, 38, 0.15);
  color: rgba(0, 0, 0, 0.87);
  -webkit-box-shadow: none;
  box-shadow: none;
  width: 5.25em;
  text-align: left;
}

.prueba2.ui.statistics .statistic > .value {
  font-size: 0.7rem !important;
}

.prueba2.ui.statistics > .statistic {
  margin-right: 10px;
  margin-left: 10px;
}

.prueba2.ui.statistics.prueba2 {
  margin: 0;
}

.label.macrosLabel {
  width: 5.7em;
  text-align: center;
}

.label.macrosLabelContent {
  width: 3.5em;
  text-align: center;
}

.label.weightLabel {
  width: 9.5em;
  text-align: center;
}

.ui.statistic.lxa > .value ~ .label {
  font-weight: 300;
  color: rgba(0, 0, 0, 0.6);
}

/* .errorProgress.ui.black.inverted.progress .bar {
  background-color: #ec2b2be6 !important;
  filter: contrast(85%);
  font-size: 1.2rem !important;
  margin-top: 0.5em;
}

.successProgress.ui.black.inverted.progress .bar {
  background-color: #21ba45 !important;
  filter: contrast(85%);
  font-size: 1.2rem !important;
  margin-top: 0.5em;
} */
/* 
.ui.inverted.progress .bar > .progress {
  margin-left: 5px;
} */
